{% extends 'layout.twig' %}


{% block title %}
<h1>{{ title }}</h1>
{% endblock %}

{% block message %}
    {% if message %}
        <div class="alert alert-warning">
            {{ message | raw }}
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    {{ content | raw  }}
{% endblock %}
