html{
  height: 100%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-container{
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 25%;*/
  width: 450px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-horizontal {
  /*width: 45%;*/
}

.form-container h3{
  text-align: left;
  font-size: large;
}

.navbar-fixed-bottom {
  background-color: #eee;
}

.navbar-fixed-bottom div{
  border-top: solid 1px black;
  line-height: 45px;
}

.jumbotron{
  padding-bottom: 10px;
}

.content{
  padding-bottom: 40px;
}